/* author : zubaerrayhan@gmail.com */
html, body{
	height: 100%;
	width: 100%;
}

.display-table {
	display: table;
	height: 100%;
	width: 100%;
	padding: 0px;
}

.display-table-row {
	display: table-row;
}

.display-table-cell {
	display: table-cell;
	float: none;
}

#header-navigation {
	background: #2d9ea4;
	height: 100px;
	border: 1px solid #278e80;
}

.search-option {
	margin-top: 15px;
	float: left;
	width: 40%;
}

#search-button {
	margin-left: 20px; 
	background: transparent;
	border: none;
	width: 10px;
}

.search-icon{
	height: 40px;
	width: 40px;
}

#search-textbox {
	border: none;
	padding: 10px;
	width: 300px;
	background: transparent;
	border-bottom: 2px solid #30585a;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	margin-left: 20px;
}

.brand {
	width: 60%;
	float: right;
}

.brand h1 {
	color: #fff;
	font-size: 40px;
}

#left {
	width: 10%;
	background: #2d9ea4;
	padding: 20px 10px;
	border:0 1px 1px 1px solid #278e80;
}

.menu{
	padding: 0;
	margin: 0;
	list-style: none;
}
.menu-item {
	border: 2px solid #278e80;
	padding: 10px 20px;
	margin: 20px;
	border-radius: 5px;
}
.menu-item a {
	color: #2d9ea4;
	font-weight: bold;
}
#middle {
	width: 550px;
	padding: 20px;
}

.group {
	background: #2d9ea4;
	height: 60px;
	width: 100%;
	border: 2px solid #2c9fc3;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 20px;
}

.group img {
	padding: 0px;
	margin: 0;
	float: left;
	margin-right: 5px;
}

.group-content h3 {
	margin: 0;
	padding: 0;
}

.group-content h3 a {
	padding: 0;
	color: #fff;
}

.group-content p {
	padding: 0;
	color: #fff;
}

#right{
	width: 635px;
	padding: 20px;
	padding-left: 0; 
}

.user {
	height: 60px;
	width: 85%;
	border: 2px solid #2d9ea4;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 20px;
}

.user img {
	padding: 0;
	margin: 0;
	float: left;
	margin-right: 5px;
}

.user-content h3 {
	margin: 0;
	padding: 0;
}

.user-content h3 a {
	padding: 0;
	color: #2d9ea4;
}

.user-content p {
	padding: 0;
	color: #333;
}

.image-circle {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid #666;
}
.message-heading {
	border: 1px solid #2d9ea4;
	margin: 0;
	padding: 15px;
	background:#2d9ea4;
	border-radius: 10px 10px 0px 0px;
}
.message-heading a {
	color:#fff;
}
.message-body {
	max-height: 450px;
	width: 100%;
	border: 1px solid #2d9ea4;
}
.message-box {
	height: 445px;
	overflow-y: scroll;
}
.message-receiver {
	border-radius: 5px;
	border: 1px solid #2d9ea4;
	padding: 5px;
	margin: 5px;
	color: #2d9ea4;
	float:left;
}
.message-sender {
	border-radius: 5px;
	border: 1px solid #2d9ea4;
	padding: 5px;
	margin: 5px;
	background: #2d9ea4;
	color: #fff;
	float:right;
}
#com-form {
	margin: 0;
	width: 100%;
}
.message-text {
	width:100%;
	padding:10px;
	border: 1px solid #2d9ea4;
}
